<!DOCTYPE html>
<html>
<head>
    <title>Vokabeltest</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Vokabeltest</h1>

<form id="vocabulary-test-form" method="post" action="/losung">
    <table>
        <tr>
            <th><label>Name:</label></th>
            <td><input type="text" name="name" placeholder="Vorname, Nachname"></td>
        </tr>
        <tr>
            <th><label>Klasse:</label></th>
            <td><input type="text" name="klasse" placeholder="z.B.: 5a"></td>
        </tr>
        <tr>
            <th><label>Prognose:</label></th>
            <td>
                <input type="radio" id="esa" name="prognose" value="ESA"> <label for="esa">ESA</label><br>
                <input type="radio" id="msa" name="prognose" value="MSA" checked> <label for="msa">MSA</label><br>
                <input type="radio" id="ahr" name="prognose" value="AHR"> <label for="ahr">AHR</label><br><br>
            </td>
        </tr>
        <input type="hidden" name="file" value="{{ file }}">
        {% for vokabel in vokabeltest %}
        <tr>
            <th><label>{{ vokabel }}:</label></th>
            <td><input type="text" name="{{ vokabel }}" placeholder="Lösung eingeben"></td>
        </tr>
        {% endfor %}
    </table>
<br>
    <button type="submit" id="check-button">Abgeben</button>
</form>
</body>
</html>
