<!DOCTYPE html>
<html>
<head>
    <title>Vokabeltest</title>
</head>
<body>
    <h1>Vokabeltest</h1>

    <form id="vocabulary-test-form" method="post" action="/losung">
        <input type="hidden" name="file" value="{{ file }}">
        {% for vokabel in vokabeltest %}
            <label>{{ vokabel.wort }}: </label>
            <input type="text" name="{{ vokabel }}" placeholder="Lösung eingeben">
        {% if vokabel.ergebnis=='Richtig' %}
        I/
        {% else %}
        X
        {% endif %}
            <br>
        {% endfor %}

        Du hast {{Prozentzahl}} richtig.
    </form>
</body>
</html>
